*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.manrope-poppins {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  